<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>HalleyComet</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen"><!--Bootstrap-->
        {% block style%}
        <style>
            body {
                padding-top: 20px;
                padding-bottom:40px;
            }
            .container-narrow {
                margin: 0 auto;
                max-width: 700px;
            }
            .container-narrow > hr {
                margin: 30px 0;
            }
            .marketing {
                margin:60px 0;
            }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block login %}
        <div class="container-narrow">

            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    {% if user.username %}
                    <li>
                        <h6>欢迎您，亲爱的{{user.username}}</h6>
                    </li> 
                    <li>
                        <a href="/userlogout/">注销</a>
                    </li>
                    {% else %}
                    <li>
                         <a href="/userregist/">注册</a>
                    </li>
                    <li>
                        <a href="/login/">登录</a>
                    </li>
                    {% endif %}
                </ul>   
                <img class="muted" src="/static/t.jpg" width="55px" height="50px"><a>HalleyComet</a> 
            </div>
        <hr />
        {% endblock %}

        {% block long_url%}
        <div class="row-fluid">
            <form method="post" class="form-inline">
                {% csrf_token %}
                <div class="span3 offset3">{{lu.as_p}}</div >
                <div class="span2 offset1"><input type="submit" value="缩短" class="btn btn-success" /></div >
            </form>
        </div>
        {% endblock %}
        {% block short_url%}
        <div class="row-fluid">
            <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="span3 offset3"><input type="text" id="short_url"></div >
            <div class="span2 offset1"><input type="button" value="复制" id="copy"  class="btn btn-success"></div >
            </form>
        </div><br />
        {% endblock %}

        {% block urls %}
        <div class="row-fluid marketing">
            <h3>历史记录:</h3> 
            {% for data in user_data %}
            <div class="row-fluid">
                <div class="span8">
                    {{data.long_url}}
                </div>
                <div class="span4">
                    www.HC.cn/{{data.short_url}}
                </div>
            </div>
            {% endfor %}
        </div>
        <hr />
        {% endblock %}
        
        {% block share%}
        <!-- JiaThis Button BEGIN -->
        <script "text/javascript"> 
        short_url = "{{short_url}}"
        var jiathis_config = { 
            url: "http://www.hc.cn/" + "{{short_url}}",
            title: "http://www.hc.cn/" + "{{short_url}}",
            summary: "",
        } 
        </script> 

        <div class="jiathis_style">
            <span class="jiathis_txt">分享到：</span>
            <a class="jiathis_button_qzone">QQ空间</a>
            <a class="jiathis_button_tsina">新浪微博</a>
            <a class="jiathis_button_douban">豆瓣</a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
            <a class="jiathis_counter_style"></a>
        </div>
        </div><!--container-->
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
        {% endblock%}

        {% block js %}
        <script src="/static/ZeroClipboard.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/bootstrap.min.js"></script>
        <script src="/static/jzclip.js"></script>
        {% endblock %}

        {% block url%}
        <script>
            if ("{{short_url}}" != ""){ 
                short_url = document.getElementById("short_url");
                short_url.value = "www.hc.cn/" + "{{short_url}}";
            }    
        </script>
        {% endblock %}
        {% block content %}
        {% endblock %} 
    </body>
</html>
