<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>HalleyComet</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
            {% block style%}
            {% endblock %}
        </style>
    </head>

    <body>
        <br />

        {% block login %}
        <div class="row-fluid">
            <div class="span2 offset1"> <img src="/static/t.jpg"> </div >
            <div class="span2 "><h4>HalleyComet</h4></div> 
            <div class="span3 offset3"> 
                {% if user.username %}
                    <div class="row-fluid">
                        <div class="span1">{{user.username}}</div> 
                        <div class="span1 offset1"><a href="/userlogout/">logout</a></div>
                    </div>
                {% else %}
                    <a href="/userregist/">注册</a>
                    <a href="/login/">登录</a>
                {% endif %}
            </div >
        </div><br />
        {% endblock %}

        {% block long_url%}
        <div class="row-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="span3 offset1">{{lu.as_p}}</div >
                <div class="span1 "><input type="submit" value="缩短" tabindex="1"/></div >
            </form>
        </div>
        {% endblock %}

        {% block short_url%}
        <div class="row-fluid">
            <form method="post">
            {% csrf_token %}
            <div class="span3 offset1"><input type="text" id="short_url"></div >
            <div class="span1 "><input type="button" value="复制" id="copy"></div >
            </form>
        </div><br />
        {% endblock %}

        {% block urls %}
        <div class="row-fluid">
            <div class="spand1 offset1">
                <h4>历史记录:</h4> 
            </div><br />
            {% for data in user_data %}
                <div class="span4 offset1"> {{data.long_url}} </div >
                <div class="span4 offset1"> www.hc.cn/{{data.short_url}} </div >
            {% endfor %}
        </div><br />
        {% endblock %}

        {% block share%}
        <!-- JiaThis Button BEGIN -->
        <script "text/javascript"> 
        short_url = "{{short_url}}"
        var jiathis_config = { 
            url: "http://www.hc.cn/" + "{{short_url}}",
            title: "http://www.hc.cn/" + "{{short_url}}",
            summary: "",
        } 
        </script> 

        <div class="jiathis_style">
            <span class="jiathis_txt">分享到：</span>
            <a class="jiathis_button_qzone">QQ空间</a>
            <a class="jiathis_button_tsina">新浪微博</a>
            <a class="jiathis_button_douban">豆瓣</a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
            <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
        {% endblock%}

        {% block js %}
        <script src="/static/ZeroClipboard.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/bootstrap.min.js"></script>
        {% endblock %}

        {% block url%}
        <script>
            if ("{{short_url}}" != ""){ 
                short_url = document.getElementById("short_url");
                short_url.value = "www.hc.cn/" + "{{short_url}}";
            }    
        </script>
        {% endblock %}

        {% block content %}
        {% endblock %} 
    </body>
</html>
