{% extends 'base.html' %} 

{% block title %}
<title> HalleyComet regist</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/login.css">
{% endblock %}
{% block login %}{% endblock %}
{% block long_url %}{% endblock %}
{% block short_url %}{% endblock %}
{% block urls %}{% endblock %}
{% block share %}{% endblock %}
{% block js %}{% endblock %}
{% block url %}{% endblock %}
{% block content %}
    <form method="post" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Plsease regist</h2>
        <table>{{uf.as_table}}</table>
        <input type="submit" value="regist" class="btn btn-large btn-primary"/>
    </form>
{% endblock %}        
